@font-face {
    font-family: 'KblJumpExtended';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2601-5@1.0/KBLJump_EB_ExtendedTTF.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

body {
    font-family: 'KblJumpExtended', sans-serif;
}