@font-face {
    font-family: 'ChosunIlboMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

body {
    font-family: 'ChosunIlboMyungjo', serif;
}

h1{background-color:  lightgreen;
        }

#header {
    justify-items: center;
}


form.join-area {
    width: 400px;
    height: 250px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(5, 1fr);
    place-items: center center;
}

form.join-area > input:not(:last-child) {
    width: 80%;
    height: 45%;
    font-size: 1.1em;
}

form.join-area > input:last-child {
    grid-column:  span 2;
    width: 80%;
    height: 80%;
    border-radius: 5px;
}
